---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <script src="https://kit.fontawesome.com/e441288905.js" crossorigin="anonymous"></script>

  <div id="main">


<!--Inspired by https://www.w3schools.com/howto/howto_js_topnav_responsive.asp-->
<div class="topnav" id="myTopnav">
      <div class="container center">
  <a href="#top" class="active" onclick="collapseTopnav()">Home</a>
  {% for node in site.posts reversed %}
    {% if node.title != "home" %}
    {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
    <a href="#section-{{id}}" onclick="collapseTopnav()">{{node.title}}</a>
    {% endif %}
  {% endfor %}

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
      </div>
</div>

    <div class="banner">
      <div class="container center">
          <img src="assets/logo-files/svg/highlo-color-on-light-bg.svg" alt="Project HighLO" width="600px">
      </div>
    </div>


    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="section-{{id}}" class="sectiondivider">
      </div>
      <div id="{{id}}" class="section p-{{id}}">
        <div class="container {{ page.style }}">
          {{ page.content }}
        {% if page.title == 'Vision' %}

<button class="collapsible">Background</button>
<div class="content">
<p style="text-align: justify;">
Around the 2000s, financial markets such as stocks, futures and options markets began to shift from being physical markets to being almost fully electronic. This shift transformed trading, as it also became possible for computers (algorithms) to trade. Algorithms now account for the majority of trading activity. They act automatically and much faster: sometimes their actions are not even perceivable by the human eye. This also creates new challenges for regulators as data size has increased tremendously and new types of market manipulation have emerged. Where do you start looking when there is so much data?
<br>
<br>
This is where particly physics can help.
<br>
<br>
Particle physics has decades of experience in storing, processing and handling big, high-speed data. There are similarities between the billions of particle collisions in CERN's particle accelerator (Large Hadron Collider; LHC) and the high-speed trading on financial markets in which multiple orders per nanosecond are placed. Most collissions in the LHC show no anomalies, but when they do, this may lead to new ground-breaking insights for physicists. Project HighLO uses similar algorithms and tools CERN uses, to identify anomalies on financial market data. When there are anomalies in financial markets, market participants, exchanges and authorities want to know what happened, how the market responded and how they should respond.
<br>
<br>
Applying particle physics tools to financial data opens up a whole new world of analysis and research. It makes us able to see behavior and patterns that we did not see before.
</p>
<br>
</div>
        {% endif %}
        </div>
      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

<!--For the responsive menu-->
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function collapseTopnav() {
  var x = document.getElementById("myTopnav");
  x.className = "topnav";
}
</script>

</body>

</html>
