---
---
<!doctype html>
<html lang="en">

{% include head.html %}

<body>

  <script src="https://kit.fontawesome.com/e441288905.js" crossorigin="anonymous"></script>

  <div id="main">

  {% include topnav.html %}

    <div class="spacer">
    </div>

    <div id="news" class="section p-news">
        <div class="container">

        <h1>All news and events</h1>

        <div class="latestnews-container">

        {% assign news_sorted = site.news | sort: 'date' | reverse %}

        {% for news in news_sorted %}

          <div id="latestnews">
            <div class="date"> {{ news.date | date: '%b %-d, %Y'}}</div>
            <div class="title"><a href="{{ news.link }}" target="_blank">{{ news.title }}</a></div>
            {{ news.description | truncatewords: 10 }}
            <i><a href="{{ news.link }}" target="_blank">[more]</a></i>
          </div>

        {% endfor %}

        </div>

        <center>
        <br>
        <b><i><a href="index.html">[back to home]</a></i></b>
        </center>

        </div>
      </div>

  {% include footer.html %}
  </div>

</body>

</html>
