---
layout: subpage
---
<!DOCTYPE html>
<html dir="ltr" lang="en">

{% include head.html %}

<body>

  <script src="https://kit.fontawesome.com/e441288905.js" crossorigin="anonymous"></script>

  <div id="main" style="min-height: 100vh; display: flex; flex-direction: column;">

    {% include topnav.html %}

    <main style="flex: 1; margin-top: 30px;">
      <div id="0" class="section p-0">
        <div class="container {{ page.style }}">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}
  
  </div>

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/javascripts/collapsible.js"></script>

</body>

</html>
